# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/foodscore"

# NextAuth
NEXTAUTH_SECRET="your-secret-here-run-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Google OAuth (optional)
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# App URL for SEO
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Google AdSense (optional)
NEXT_PUBLIC_ADSENSE_ID=""
